@model IEnumerable<EC.Ciudad>

@{
    ViewBag.Title = "FormCiudadListar";
}

<h2>Listado Ciudad</h2>

@ViewBag.Mensaje

<p>
    @Html.ActionLink("Nueva", "FormCiudadNueva") |
    @Html.ActionLink("Volver", "PaginaMenu", "Home")
</p>

@using (Html.BeginForm())
{

    <table>
        <tr>
            <td>Nombre: @Html.TextBox("DatoFiltro", "")</td>
            <td><input type="submit" value="Filtrar" class="btn btn-default" /></td>
            <td>@Html.ActionLink("Limpiar", "FormCiudadListar", null, new { @class = "btn btn-default" })</td>
        </tr>
    </table>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoCiudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th></th>
    </tr>

    @foreach (EC.Ciudad item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoCiudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.ActionLink("Modificar", "FormCiudadModificar", new { item.CodigoCiudad }) |
                @Html.ActionLink("Consultar", "FormCiudadConsultar", new { item.CodigoCiudad }) |
                @Html.ActionLink("Eliminar", "FormCiudadBaja", new { item.CodigoCiudad })
            </td>
        </tr>
    }
</table>
