@model EC.Cliente

@{
    ViewBag.Title = "FormClienteBaja";
}

@ViewBag.Mensaje

<h3>¿Esta seguro que desea eliminar este cliente?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NroPasaporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NroPasaporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassCli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassCli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NroTarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NroTarjeta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "FormClienteListar")
        </div>
    }
</div>
